
h1{                 /*El que estem modificant es el color del titol, que sigui negreta i que estigui centrat*/
    color: rgb(138, 43, 226);
    font-weight: bold;
    text-align: center;
}

table{
    border-collapse: collapse; /*Amb el border collapse evitem tenir doble borde*/
    border: 1px solid;
    margin: auto;
    
}

td {
    border: 1px solid;
}

th {                /*Estem posant negreta, que tingui contorn i que tingui un color de fons*/
    border: 1px solid;
    background-color: rgb(185, 185, 185);
    font-weight: bold;
    text-align: center;
}

caption {           /*Cambiem el color del titol de la taula, que tingui una petita distancia amb la taula i que no tingui contorn*/
    color: rgb(36, 25, 255);
    margin-bottom: 15px;
    border: none;
}